<div class="pokemon-card {% for type in pokemon.types %}type-{{ type.type.name }}{% if forloop.first %} main-type-{{ type.type.name }}{% endif %}{% endfor %}">
  <div class="card-image">
    <img src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name }}" />
  </div>
  <div class="card-info">
    <div class="card-header">
      <span class="pokemon-id">#{{ pokemon.id }}</span>
      <h3 class="pokemon-name">{{ pokemon.name | capitalize }}</h3>
    </div>
    <div class="pokemon-types">
      {% for type in pokemon.types %}
        <span class="type-badge type-{{ type.type.name }}">{{ type.type.name | capitalize }}</span>
      {% endfor %}
    </div>
    <div class="pokemon-stats">
      {% for stat in pokemon.stats %}
        <div class="stat-item">
          <span class="stat-name">{{ stat.stat.name | capitalize }}</span>
          <span class="stat-value">{{ stat.base_stat }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>