<div class="pokemon-card main-type-{{ pokemon.types[0] }}">
  <div class="pokemon-id">#{{ pokemon.id }}</div>

  <div class="card-image">
    <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}">
  </div>

  <div class="card-info">
    <h3 class="pokemon-name">{{ pokemon.name | capitalize }}</h3>
    <div class="pokemon-types">
      {% for type in pokemon.types %}
        <span class="type-badge type-{{ type }}">{{ type | capitalize }}</span>
      {% endfor %}
    </div>
    <div class="pokemon-stats">
      {% for stat in pokemon.stats %}
        <div class="stat-item">
          <span class="stat-name">{{ stat.name | upcase }}</span>
          <span class="stat-value">{{ stat.value }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
